<section class="hero-unit">
	<h2>Reset Password</h2>
	<%= simple_form_for @patient, :url => password_reset_path(params[:id]), :html => { :class => 'form-vertical' } do |f| %>
	  <%= f.input :password, :placeholder => "password", :label => false %>
	  <%= f.input :password_confirmation, :placeholder => "confirmation", :label => false %>
	  <%= f.submit "Reset Password", :class => "btn btn-success btn-large" %>
	<% end %>
</section><!--/ .hero-unit-->

	