<section class="row">
	<h2>Editing Your Profile</h2>
	<div class="span4 sidebar">
		<%= render 'shared/profile_sidebar' %>
	</div><!--/ .span4 .sidebar-->	
	<div class="span7">
		<%= render 'form' %>
	</div><!--/ .span7-->
</section><!--/ .row-->