<h1>Symptom Category</h1>

<p>
  <b>Category</b><br>
  <%= @symptom_category.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', symptom_categories_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_symptom_category_path(@symptom_category), :class => 'btn' %>
  <%= link_to 'Delete', symptom_category_path(@symptom_category), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
