<nav id="profile-nav">
	<ul>
		<li><%= link_to "Watch Tutorial", "#" %></li>
		<li><%= link_to "Your Settings", edit_member_path(current_member) %></li>
		<li><%= link_to "Your Care Team", "#" %></li>
	</ul>
</nav>
