<nav id="profile-nav">
	<ul>
		<li><%= link_to "Watch Tutorial", '#' %></li>
		<li><%= link_to "Your Settings", edit_patient_path(current_patient) %></li>
		<li><%= link_to "Edit Profile", edit_person_path(@person) %></li>
		<li><%= link_to "Share with Doctor", '#' %></li>
	</ul>
</nav>
