<%= render 'shared/sidenav' %>

<section id="history-main" class="mid-shadow">
	<%= render 'shared/profile_nav' %>
</section><!--#history-main-->

<section id="history-lower">

</section><!--#history-lower-->