<!--This is the about page to give a brief description & to show the members of our team-->
<section id="about-section">
	<h2>About Kurbi</h2>
	<div id="about-text">
	<p>Symptom management and physical activity are two of the hottest topics in the Multiple Sclerosis world, and Kurbi was created to help people living with the condition to more easily achieve both.</p>
	<p>If you are living with the condition or know someone that is, you are most likely familiar with the struggle to communicate how MS is affecting you and/or your loved one. Kurbi is here to let you know you are not alone, and that together, we can help each other, care-providers, and researchers understand more about MS than ever before possible.</p>
	<p>Up until now, the daily experiences of how MS affects people outside of clinical trials has been a mystery. We developed Kurbi with the belief that if people could easily tell us what they were experiencing we would inevitably find important, world changing answers about MS in the data.</p>
	</div><!--#about-text-->
	
	<%= render 'pages/team' %>
</section>