<!--
This is the global contact page, where visitors to the site can send an email to info@gokurbi.com
-->
<section id="contact-section">
<h2>Contact</h2>
<p>Thanks for your interest in the Kurbi App. We look forward to getting to know you soon!</p>

<section>
	<%= render 'pages/form' %>
</section>
</section><!--#contact-section-->
