<%= render 'shared/home_sidenav' %>

<div id="main-home" class="mid-shadow">
	<section id="video">
		<iframe width="700" height="386" rel=nofollow src="http://www.youtube.com/embed/CBOt2XKl2Rw?HD=1;rel=0;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</section>
</div>