<section class="hero-unit">
		
		<%= simple_form_for @patient, :html => { :class => 'form-vertical' } do |f| %>
			
			<%= link_to 'Cancel', root_path, :class => 'btn'  %>
			<%= f.submit "Next", :class => "btn btn-success btn-large" %>
		<% end %>
</section><!--/ .hero-unit-->
