

<section id="main-profile" class="mid-shadow">
	<%= render 'shared/profile_nav' %>
	<div id="edit_settings_form">
		<h2>Edit Account Settings</h2>
		<%= render 'form_edit' %>
	</div><!--#edit_settings_form-->
</section><!--#main_profile-->