<section class="row">
	<h2>Profile Information</h2>
	<div class="span4 sidebar">
		<%= render 'shared/profile_sidebar' %>
	</div><!--/ .span4 .sidebar-->
	<div class="span7">
		<%= render 'patients/profile_information' %>
	</div><!--/ .span7-->
</section><!--/ .row-->