<script>
  $(document).ready(function() {
    $(".slider").slider({min: 0,max: 5,step: .10});
    $(".slider").bind( "slidechange", function(event, ui) {
 		$(this).siblings().first().text(ui.value);
	});
  });
</script>
<section id="main-long-survey">	

	<section id="long-survey-path">
		<h3> Visual Symptoms</h3>
		
		<p class="symptom_name">Optic Neuritis<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider_container"><div class="slider"></div><span class="first_number">0</span>
		</div>
		<p class="symptom_description"><i>Blurred vision, eye pain, loss of colour vision, blindness</i></p>
		
		<p class="symptom_name">Diplopia<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Double Vision</i></p>
		
		<p class="symptom_name">Nystagmus<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Jerky Eye Movements</i></p>
		
		<p class="symptom_name">Ocular Dysmetria<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Constant under- or overshooting eye movements</i></p>
		
		<p class="symptom_name">Internuclear Ophthalmoplegia<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Lack of coordination between the two eyes, nystagmus, diplopia</i></p>
		
		<p class="symptom_name">Movement and sound phosphenes<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Flashing lights when moving eyes or in response to a sudden noise</i></p>
		
		<p class="symptom_name">Afferent Pupillary Defect<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Abnormal pupil responses</i></p>
		
		<h3> Motor Symptoms</h3>
		
		<p class="symptom_name">Paresis, Monoparesis, Paraparesis, Hemiparesis, Quadraparesis<a href="" class="get_more_button">Get Info</a></p>
		<div class="slider_container"><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div></div>
		<p class="symptom_description"><i>Muscle weakness - partial or mild paralysis</i></p>
		
		<p class="symptom_name">Plegia, Paraplegia, Hemiplegia, Tetraplegia, Quadraplegia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Paralysis - Total or near total loss of muscle strength</i></p>
		
		<p class="symptom_name">Spasticity<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Loss of muscle tone causing stiffness, pain and restricting free movement of affected limbs</i></p>
		
		<p class="symptom_name">Dysarthria<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Slurred speech and related speech problems</i></p>
		
		<p class="symptom_name">Muscle Atrophy<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Wasting of muscles due to lack of use</i></p>
		
		<p class="symptom_name">Spasms, Cramps<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Involuntary contraction of muscles</i></p>
		
		<p class="symptom_name">Hypotonia, Clonus<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Problems with posture</i></p>
		
		<p class="symptom_name">Myoclonus, Myokymia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Jerking and twitching muscles, Tics</i></p>
		
		<p class="symptom_name">Restless Leg Syndrome<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Involuntary Leg Movements, especially bothersome at night</i></p>
		
		<p class="symptom_name">Footdrop<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Foot drags along floor during walking</i></p>
		
		<p class="symptom_name">Dysfunctional Reflexes<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>MSRs, Babinski\'s, Hoffman\'s, Chaddock\'s</i></p>
		
		<h3> Sensory Symptoms</h3>
		
		<p class="symptom_name">Paraesthesia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Partial numbness, tingling, buzzing and vibration sensations</i></p>
		<p class="symptom_name">Anaesthesia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Complete numbness/loss of sensation</i></p>
		<p class="symptom_name">Neuralgia, Neuropathic and Neurogenic pain<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Pain without apparent cause, burning, itching and electrical shock sensations</i></p>
		<p class="symptom_name">L\'Hermitte\'s<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Electric shocks and buzzing sensations when moving head</i></p>
		<p class="symptom_name">Proprioceptive Dysfunction<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Loss of awareness of location of body parts</i></p>
		<p class="symptom_name">Trigeminal Neuralgia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Facial pain</i></p>
		
		<h3> Coordination and Balance Symptoms</h3>
		
		<p class="symptom_name">Ataxia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Loss of coordination</i></p>
		<p class="symptom_name">Intention tremor<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Shaking when performing fine movements</i></p>
		<p class="symptom_name">Dysmetria<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Constant under- or overshooting limb movements</i></p>
		<p class="symptom_name">Vestibular Ataxia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Abnormal balance function in the inner ear</i></p>
		<p class="symptom_name">Vertigo<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Nausea/vomitting/sensitivity to travel sickness from vestibular ataxia</i></p>
		<p class="symptom_name">Speech Ataxia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Problems coordinating speech, stuttering</i></p>
		<p class="symptom_name">Dystonia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Slow limb position feedback</i></p>
		<p class="symptom_name">Dysdiadochokinesia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Loss of ability to produce rapidly alternating movements, for example to move to a rhythm</i></p>
		
		<h3>Bowel, Bladder and Sexual Symptoms</h3>
		
		<p class="symptom_name">Frequent Micturation, Bladder Spasticity<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Urinary urgency and incontinence</i></p>
		<p class="symptom_name">Flaccid Bladder, Detrusor-Sphincter Dyssynergia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Urinary hesitancy and retention</i></p>
		<p class="symptom_name">Erectile Dysfunction<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Male and female impotence</i></p>
		<p class="symptom_name">Anorgasmy<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Inability to achieve orgasm</i></p>
		<p class="symptom_name">Retrograde ejaculation<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Ejaculating into the bladder</i></p>
		<p class="symptom_name">Frigidity<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Inability to become sexually aroused</i></p>
		<p class="symptom_name">Constipation<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Infrequent or irregular bowel movements</i></p>
		<p class="symptom_name">Fecal Urgency<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Bowel urgency</i></p>
		<p class="symptom_name">Fecal Incontinence<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Bowel incontinence</i></p>
		
		<h3>Cognitive Symptoms</h3>
		
		<p class="symptom_name">Depression<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Cognitive dysfunction<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Short-term and long-term memory problems, forgetfulness, slow word recall</i></p>
		<p class="symptom_name">Dementia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Mood swings, emotional lability, euphoria<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Bipolar syndrome<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Anxiety<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Aphasia, Dysphasia<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Impairments to speech comprehension and production</i></p>
		
		<h3>Other Symptoms</h3>
		
		<p class="symptom_name">Fatigue<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Uhthoff\'s Symptom<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Increase in severity of symptoms with heat</i></p>
		<p class="symptom_name">Gastroesophageal Reflux<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i>Acid reflux</i></p>
		<p class="symptom_name">Impaired sense of taste and smell<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Epileptic seizures<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Swallowing problems<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Respiratory problems<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Sleeping Disorders<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_name">Inappropriately cold body parts<a href="" class="get_more_button">Get Info</a></p><div class="slider_container"><div class="slider"></div><span class="first_number">0</span></div>
		<p class="symptom_description"><i></i></p>
		<p class="symptom_description"><i>Autonomic nervous system problems</i></p>
	</section><!--#long-survey-path-->
</section><!--#survey-section-->