<script>
  $(document).ready(function() {
    $(".slider").slider({min: 0,max: 5,step: .10});
    $(".slider").bind( "slidechange", function(event, ui) {
  		$(this).siblings().first().text(ui.value);
	});
  });
</script>

<section>		
	<h1>Personal Health Journal</h1>
	<hr class="round">
	
	<div class="span6">
		<h4 class="span4">Movement and sound phosphenes</h4><br/>
		<div class="span4">
			<div class="slider"></div>
			<span class="first_number">0</span>
		</div>		
	</div>
	
	<div class="span6">	
		<h4 class="span4">Paresis, Monoparesis, Paraparesis, Hemiparesis, Quadraparesis</h4><br/>
		<div class="span4">
			<div class="slider"></div>
			<span class="first_number">0</span>
		</div>		
	</div>
	
	<div class="span6">	
		<h4 class="span4">Plegia, Paraplegia, Hemiplegia, Tetraplegia, Quadraplegia</h4><br/>
		<div class="span4">
			<div class="slider"></div>
			<span class="first_number">0</span>
		</div>		
	</div>
	
	<div class="span6">	
		<h4 class="span4">Spasticity</h4><br/>
		<div class="span4">
			<div class="slider"></div>
			<span class="first_number">0</span>
		</div>		
	</div>
	
	<div class="span6">
		<h4 class="span4">Muscle Atrophy</h4><br/>
		<div class="span4">
			<div class="slider"></div>
			<span class="first_number">0</span>
		</div>	
	</div>
		
	<div class="span6">	
		<h4 class="span4">Spasms, Cramps</h4><br/>
		<div class="span4">
			<div class="slider"></div>
			<span class="first_number">0</span>
		</div>	
	</div>
	
</section><!--/ .hero-unit-->

<table id="lower-survey-section">
	  <tbody>
	    <tr>
	      <td>
		      <div class="add-symptom-btn">
		      	<h4>Add New Symptoms</h4>
		      	<%= link_to symptom_plus, '#' %>
		      </div><!--.add-symptom-btn-->
	      </td>
	      	
	      <td>
	      	  <div class="delete-symptom-btn">
	      		<h4>Delete Symptoms</h4>
	      		<%= link_to symptom_minus, '#' %>
	      	  </div><!--.delete-symptom-btn-->
	      </td>
	      
	      <td>
	      	<div class="symptom-search">
	      		<h4>Search Symptoms & Treatments</h4>
	      		<%= symptom_search %>
	      	</div><!--.symptom-search-->
	      </td>
	    </tr>
	    
	  </tbody>
</table><!--#lower-survey-section-->
