// Place all the styles related to the Histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#history-main {
	margin:85px 0 0 194px;
	width: 838px;
	height: 397px;
	background: url(../images/history.png);

}

#history-lower {
	margin:50px 0 0 204px;
	width: 779px;
	height: 305px;
	background: url(../images/history_bottom.png);
}