// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reset_password {
	margin:30px auto;
	width: 1020px;
}

/*-----------------FORM FOR-------------------*/
.field {
	margin-top: 10px;
	font-size: 16px;
	color: #333;
	
	input {
		width: 200px;
		height: 30px;
		padding-left: 5px;	
		font-family: Museo;
		font-size: 14px;
		border:  1px solid #2D445B;
	}
	
	.check-box {
		color: #333;
	}
}

