// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#survey-section {
	margin:85px 0 0 194px;
	width: 838px;
	min-height: 600px;
	height: 100%;
	background: url(../images/main-bkgd.png) repeat;
}

#survey-section {
	margin:85px 0 0 194px;
	width: 838px;
	min-height: 800px;
	height: 100%;
	background: url(../images/main-bkgd.png) repeat;
}
