// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----------------MAIN SURVEY SECTION-------------------*/
/*-----------------LOWER SURVEY SECTION-------------------*/
#lower-survey-section {
	margin:25px 0 0 0;
		
	h4 {
		margin-bottom: 10px;
		color: #E88113;
		text-decoration: underline;
	}
	
	.add-symptom-btn { }
	
	.delete-symptom-btn {
		margin-left: 30px;
	}
	
	.symptom-search {
		margin-left: 45px;
	}
}

/*-----------------LONG SURVEY SECTION-------------------*/
#main-long-survey {
	margin:25px 0 0 50px;
	
	h3 {
		margin:20px 0 -10px 0;
		color: #E88113;
		text-decoration: underline;
	}
	
}


#long-survey-path {
	.symptom_name {
		margin:30px 0 0 20px;
		width: 350px;
		font-size: 18px;
		color: #2F4459;
				
		a, a:visited {
			color: #444;
		}
	}
	
	.symptom_description { 
		margin:0 0 0 20px;
		font-family: 'Museo500';
		font-size: 12px;
		color: #2F4459;
	}
	
	.get_more_button {
		position: relative;
		top: px;
		left: 40px;			
		float: right;
		padding:2px 4px 2px 4px;
		font-size: 11px;
		background: #C1C1C1;	
	}
	
	.slider { 
		margin:20px 10px 10px 30px;
		display: block;
		height: 10px;
		width: 380px;
	}
	
	.slider_container {
		width:500px;
	}	
}

/*-----------------SHARED SECTION-------------------*/
.show_more_button {
	position: relative;
	top: -25px;
	left: 30px;
}


.first_number {
	position: relative;
	float: right;
	top: -45px;
	left: 100px;
	padding-top: 15px;
	width: 83px;
	height: 35px;
	display: inline-block;
	background: #E88113;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.second_number {
	position: relative;
	float: right;
	top: -45px;
	left: 293px;
	padding-top: 15px;
	width: 83px;
	height: 35px;
	display: inline-block;
	background: #E88113;
	text-align: center;
	color: #fff;
	font-size: 20px;
}



