<p id="notice"><%= notice %></p>

<p>
  <b>Search query:</b>
  <%= @search_query.search_query %>
</p>


<%= link_to 'Edit', edit_search_query_path(@search_query) %> |
<%= link_to 'Back', search_queries_path %>
