<header class="bottom-shadow">

	<% if signed_in? %>
		<%= link_to logo, current_patient %>
		
		<nav>
			<%= link_to signout_btn, signout_path %>
		</nav>
	<% else %>
		<%= link_to logo, root_path %>
		
		<nav>
			<%= link_to signin_btn, signin_path %>
		</nav>
	<% end %>
</header>